<!DOCTYPE html>
<html>

<head>

<title>Teacher Dashboard</title>

<link rel="stylesheet"
href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css">

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">

</head>

<body class="bg-light">

<!-- MENU BUTTON -->

<button class="menu-btn" onclick="toggleSidebar()">☰</button>

<!-- SIDEBAR -->

<div id="sidebar" class="sidebar">

<h3>AI Classroom</h3>

<a href="/dashboard">Dashboard</a>
<a href="/session">Live Monitoring</a>
<a href="/download_report">Download Report</a>
<a href="/">Logout</a>

</div>

<!-- MAIN CONTENT -->

<div class="content">

<div class="container mt-5">

<h2 class="mb-2">Teacher Dashboard</h2>

<div class="mb-4">
<span id="liveIndicator" class="badge bg-danger">
● Not Monitoring
</span>
</div>

<div class="row">

<!-- Average Attention -->

<div class="col-md-4">
<div class="card p-4 text-center">

<h5>Average Attention</h5>

<h2 id="avgScore">--%</h2>
<p id="attentionLevel">Waiting for data</p>

</div>
</div>

<!-- Session Status -->

<div class="col-md-4">
<div class="card p-4 text-center">

<h5>Session Status</h5>

<p id="sessionStatus" class="distracted">Inactive</p>
<p id="sessionTime">Session Time: 00:00</p>

</div>
</div>

<!-- Students -->

<div class="col-md-4">
<div class="card p-4 text-center">

<h5>Students Monitored</h5>

<h2>1</h2>

</div>
</div>

</div>

<!-- Buttons -->

<div class="mt-5">

<a href="/session">
<button class="btn btn-primary me-3">
Start Monitoring Session
</button>
</a>

<a href="/download_report">
<button class="btn btn-success">
Download Session Report
</button>
</a>

</div>

</div>

</div>

<!-- JAVASCRIPT FILES -->

<script src="https://cdn.socket.io/4.6.1/socket.io.min.js"></script>

<script src="{{ url_for('static', filename='js/script.js') }}"></script>

</body>

</html>