<!DOCTYPE html>
<html>
<head>
    <title>FocusTrack AI</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>

<div class="login-box">

<h2>Teacher Login</h2>

<form method="POST">

<input type="email" name="email" placeholder="Email" required>

<input type="password" name="password" placeholder="Password" required>

<button type="submit">Login</button>

</form>

</div>

</body>
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
</html>